<div class="card my-3">
  <div class="card-header navbar-dark bg-dark d-flex justify-content-between align-items-center">
    <h4>{{blog.title}}</h4>
    <p class="mt-3 ms-3">Posted by {{blog.user.username}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="card-body bg-info bg-opacity-50 text-dark w-100 m-auto p-auto border border-dark border-top-0 border-4 rounded-bottom">
    <p>{{blog.content}}</p>
  </div>
</div>
{{#each comments}}
<div class="card my-3">
  <div class="card-header navbar-dark bg-dark d-flex justify-content-between align-items-center p-4">
  </div>
  <div class="card-body bg-info bg-opacity-50 text-dark w-100 mx-auto pt-2 px-4 border border-dark border-top-0 border-4 rounded-bottom">
    <p>{{content}}</p>
    <p>-{{user.username}}, {{format_date date_created}}</p>
  </div>
</div>
{{/each}}
{{#if logged_in}}
<div class="card my-3">
  <div class="card-header navbar-dark bg-dark d-flex justify-content-between align-items-center p-4">
  </div>
  <div class="card-body bg-info bg-opacity-50 text-dark w-100 mx-auto pt-2 px-4 border border-dark border-top-0 border-4 rounded-bottom">
    <form id="comment" data-blogid="{{blog.id}}">
      <div class="mb-3 text-dark">
        <label for="content" class="form-label">Comment</label>
        <textarea type="text" class="form-control" name="content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
  </div>
</div>

<script src="/js/grabBlog.js"></script>
{{/if}}
